#footer{
    background-color: #443738;
    height: 80px;
    color: #F0ECDD;
    font-size:10px;
}

#column {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#row::after {
    content: "";
    clear: both;
    display: table;
}

#attribute{
    padding-top: 9px;
    padding-left: 10px;
}

a {
    color: #91879F;
  }
