.footer #footer{
    background-color: #443738;
    height: auto;
    color: #F0ECDD;
    font-size:10px;
}

.footer #column {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.footer #row::after {
    content: "";
    clear: both;
    display: table;
}

.footer #attribute{
    padding-top: 9px;
    padding-left: 10px;
}

.footer a {
    color: #91879F;
  }
