#home {
    height: 650px;
    background-color: #91879F;
}

#picture {
    padding-top: 5%;
    text-align: center;
    color:#F0ECDD;
    float: left;
    padding-left: 5%;
}

#title {
    padding-bottom: 5%;
}

#right-side {
    float: right;
    padding-top: 5%;
    height:650px;
    width: 741px;
    padding-left: 5%;
    padding-right: 5%;
}

#description{
    padding: 10%;
    height: 550px;
    width: 600px;
    border: 2px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    background-color: #F0ECDD;
}